.invalidInput{
    color: red;
}

.product-item td{
    line-height: 49.5px;
    text-align: center;
}

.product-item-img{
    width: 50px;
}

.product-item-desc{
    width: 150px;
    overflow: hidden;
}

.product-item-desc-text{
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.input-group-text{
    cursor: pointer;
}

.quan-tri-navbar{
    justify-content: space-between;
}