.main-wrap{
    position: relative;
    min-height: 100px;
}

.sidebar {
    background-color: black;
    width: 280px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.sidebar h1 {
    color: white;
}

.cart {
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    -moz-transition: right 0.5s ease;
    transition: right 0.5s ease;
}

input[type=checkbox] {
   display: none;
}

input:checked ~ .cart { 
    right: 280px;
}