*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    padding-left: 0;
    padding-right: 0;
}

.header-container{
    background-color: #1A94FF;
    padding: 20px;
}

.header-cart i{
    font-size: 32px;
    color: white;
    line-height: 46px;
}

.shop-container{
    display: flex;
    /* overflow: hidden; */
}

.shop-list{
    width: 75%;
    position: relative;
    transition: all .5s;
}

.product-list{
    padding: 50px 5px;
}

.product-item {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.item-img{
    object-fit: cover;
}

.product-item h5,
.product-item p
{
    line-height: 1.5em;
    height: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.product-item h5{
    margin-top: 20px;
}

.product-item p{
    margin-bottom: 5px;
}

.product-item img{
    width: 220px;
    height: 220px;
}
.cart-list{
    flex-shrink: 0;
    width: 25%;
}

.product-select{
    padding: 2px 5px;
    border: solid 1px rgba(225,225,225,0.8);
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: white;
}

.product-select select{
    height: 100%;
    border: none;
}

.cart-list[closing]{
    pointer-events: none;
    inset: 0;
    animation: slideOut ease .3s;
}

.loading{
    /* display: none; */
    align-items: center;
    justify-content: center;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 10px;
}

.cart-item-info{
    flex-grow: 1;
    padding-left: 10px;
}

.quantity-info{
    display: flex;
    justify-content: space-between;
}

.cart-item-price{
    min-width: 52px;
}

.cart-item-name{
}

.cart-item img{
    width: 40px;
}

.cart-item-quantity{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-btn{
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 2px;
}

.cart-btn i{
    color: #007BFF;
}

.item-quantity{
    padding: 0 10px;
}

.cart-item-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-container{
    list-style: none;
}

.incart{
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.incart p{
    margin: 0;
}

.btn-pay{
    height: 40px;
}

@keyframes slideIn {
    from {
        transform: translateX(95%);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes slideOut{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(100%);
    }
}

@media screen and (max-width: 1200px) { 
    .product-item img{
        width:100px;
    }
 }